*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.btn {
    width: 8px 8px;
    height: 10px 10px;
    padding:18px 30px;
    border: none;
    border-radius: 50px;;
    background-color: #3a39395e;
    color:white;
    margin-bottom: 15px;
}

.btn:active {
    background-color: #5c5a5ab5;
    box-shadow: inset 1px 1px 3px #2c2b2bb5;
}
.btn:hover{
    box-shadow: inset 1px 1px 3px #2c2b2bb5;
    transition: 0.2s;
}

.equals-btn {
    /* background-color: #ff9500; */
    width: 100%;
    height: 10px 10px;
    font-weight: bold;
    
}

.utils-btn {
    font-size: xx-large;
    max-width: fit-content;
    padding: 18px 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #948b8ba5;
    border:1px solid #cec8c8a5;
    box-shadow: 1px 3px 3px #797373ea;
    margin-top: 0;
}

.utils-btn{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.btn-container {
    display: grid;
}

.display{
    height: 60px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: right;
    font-size: xx-large;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    max-width: 345px;
}
.display input{
    color: white;
    font-size: xx-large;
    width: 100%;
    padding: 10px 10px;
    margin-right: 5px;
}

.display::placeholder{
    color: white;
    opacity: 0.5;
    margin-right: 5px;
}

